{% block content %}
<div class="container">
    <h2>Import Transactions</h2>
    <form method="post" 
      hx-post="{% url 'import_choice' %}" 
      hx-target="#transaction-block" 
      hx-swap="innerHTML" 
      hx-push-url="true">
        {% csrf_token %}
        <div class="form-group">
            <label for="source">Choose the data source:</label>
            <select id="source" name="source" class="form-control" required>
                <option value="file">Upload a File</option>
                <option value="banking">Banking Service</option>
            </select>
        </div>

        <!-- File upload section -->
        <div id="file-upload" class="mt-3" style="display: none;">
            <label for="transaction_file">Upload File:</label>
            <input type="file" id="transaction_file" name="transaction_file" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

<script>
    document.getElementById('source').addEventListener('change', function () {
        const source = this.value;
        document.getElementById('banking-service').style.display = source === 'banking' ? 'block' : 'none';
    });
    
</script>
{% endblock %}
