<div class="container py-5">
    <h1 class="text-primary text-center">Update Transaction</h1>
    <div class="card mt-4 p-4 shadow-sm">
        <form method="post" action="{% url 'update_transaction' transaction.pk %}">
            {% csrf_token %}
            {% include 'expenses/partials/transaction_form.html' %}
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'transactions' %}" class="btn btn-secondary">Back</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
